@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.swiper-wrapper {
  @media (min-width: 760px) {
    display: flex !important;
  justify-content: center;
  }
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.slider-projects .swiper-button-prev::after, .swiper-button-next::after {
  height: 100%;
  background-color: initial;
  position: absolute;
  top: 4.5rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
}

.slider-projects .swiper-button-prev::after {
  content: url('/svg/arrow_forward.svg');
  border-radius: 1rem 0 0 1rem;
}

.slider-projects .swiper-button-next::after {
  content: url('/svg/arrow_forward_right.svg');
  border-radius: 0 1rem 1rem 0;
}

.swiper-button-disabled {
  opacity: 0;
}

.swiper-button-next::after {
  right: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html, body, header {
    @apply max-w-[1920px] mx-auto text-black opacity-100 overflow-x-hidden md:overflow-hidden w-full;
  }
}
